

<ol>
    <li value=23>&quot;Resolution dependence of most probable pathways with state-dependent diffusivity
  &quot;, Alice L. Thorneywork, Jannes Gladrow, Ulrich F. Keyser, Michael E. Cates, Ronojoy Adhikari, Julian Kappler. arXiv:
      <a href="https://arxiv.org/abs/2402.01559">https://arxiv.org/abs/2402.01559</a></li>
<li value=22>&quot;Linear waves at viscoelastic interfaces between viscoelastic media&quot;,
	S. Zendehroud, R. R. Netz, and J. Kappler,
    <em>Physical Review Fluids</em>, vol. 7 (11), p. 114801, <strong>2022</strong>.
  DOI: <a href="https://doi.org/10.1103/PhysRevFluids.7.114801">10.1103/PhysRevFluids.7.114801</a></li>
<li value=21>&quot;Barrier-crossing times for different non-Markovian friction in well and barrier: A numerical study&quot;,
	F. N. Brünig, R. R. Netz, and J. Kappler,
    <em>Physical Review E</em>, vol. 106 (4), p. 044133, <strong>2022</strong>.
  DOI: <a href="https://doi.org/10.1103/PhysRevE.106.044133">10.1103/PhysRevE.106.044133</a></li>
<li value=20>&quot;Measurement of irreversibility and entropy production via the tubular ensemble&quot;, J. Kappler, R. Adhikari,
    <em>Physical Review E</em>, vol. 105 (4), p. 044107, <strong>2022</strong>.
  DOI: <a href="https://doi.org/10.1103/PhysRevE.105.044107">10.1103/PhysRevE.105.044107</a></li>
  <li value=19>&quot;Diffusivity dependence of the transition path ensemble
&quot;, L. Kikuchi, R. Adhikari, J. Kappler. arXiv:
    <a href="https://arxiv.org/abs/2203.12947">https://arxiv.org/abs/2203.12947</a></li>
  <li value=18>&quot;Time-dependent friction effects on vibrational infrared frequencies and line shapes of liquid water&quot;,
    F. N. Brünig, O. Geburtig, A. von Canal, J. Kappler, R. R. Netz,
    <em>The Journal of Physical Chemistry B</em>, vol. 126 (7), p. 1579–1589, <strong>2022</strong>.
DOI: <a href="https://doi.org/10.1021/acs.jpcb.1c09481">10.1021/acs.jpcb.1c09481</a></li>
<li value=17>&quot;Efficient Bayesian inference of fully stochastic epidemiological models
with applications to COVID-19&quot;,
Y. I. Li, G. Turk, P. B. Rohrbach, P. Pietzonka, J. Kappler, R. Singh, J. Dolezal,
T. Ekeh, L. Kikuchi, J. D. Peterson, A. Bolitho, H. Kobayashi, M. E. Cates, R. Adhikari, R. L. Jack,
<em>Royal Society Open Science</em>, vol. 8 (8), p. 211065, <strong>2021</strong>.
DOI: <a href="https://doi.org/10.1098/rsos.211065">10.1098/rsos.211065</a></li>
<li value=16>&quot;Experimental Measurement of Relative Path Probabilities and Stochastic Actions&quot;,
J. Gladrow, U. F. Keyser, R. Adhikari, J. Kappler,
<em>Physical Review X</em>, vol. 11, p. 031022, <strong>2021</strong>.
DOI: <a href="https://doi.org/10.1103/PhysRevX.11.031022">10.1103/PhysRevX.11.031022</a></li>
<li value=15>&quot;Non-Markovian modeling of protein folding&quot;,
C. Ayaz, L. Tepper, F. N. Brünig, J. Kappler, J. O. Daldrop, R. R. Netz,
<em>Proceedings of the National Academy of Sciences</em>, vol. 118 (31),
p. e2023856118, <strong>2021</strong>.
DOI: <a href="https://doi.org/10.1073/pnas.2023856118">10.1073/pnas.2023856118</a></li>
<li value=14>&quot;Non-Newtonian viscous behavior of water at high frequencies&quot;, J.
C. F. Schulz, A. Schlaich, M. Heyden, R. R. Netz, J. Kappler,
<em>Physical Review Fluids</em>, vol. 5, p. 103301, <strong>2020</strong>.
DOI: <a href="https://doi.org/10.1103/PhysRevFluids.5.103301">10.1103/PhysRevFluids.5.103301</a></li>
<li value=13>&quot;Sojourn probabilities in tubes and pathwise irreversibility for Itô
processes&quot;, J. Kappler, R. Adhikari. arXiv: <a href="https://arxiv.org/abs/2009.04250">https://arxiv.org/abs/2009.04250</a></li>
<li value=12>&quot;Barrier crossing in the presence of multi-exponential memory
functions with unequal friction amplitudes and memory times&quot;, L.
Lavacchi, J. Kappler, R. R. Netz, <em>Europhysics Letters</em>, vol. 131,
p. 40004, <strong>2020</strong>. DOI: <a href="https://doi.org/10.1209/0295-5075/131/40004">10.1209/0295-5075/131/40004</a></li>
<li value=11>&quot;Stochastic action for tubes: Connecting path probabilities to
measurement&quot;, J. Kappler, R. Adhikari, <em>Physical Review Research</em>,
vol. 2, p. 023407, <strong>2020</strong>. DOI:
<a href="https://dx.doi.org/10.1103/PhysRevResearch.2.023407">10.1103/PhysRevResearch.2.023407</a></li>
<li value=10>&quot;Inference, prediction and optimization of non-pharmaceutical interventions using compartment models: the PyRoss library&quot;, R. Adhikari, A. Bolitho, F. Caballero, M. E. Cates, J. Dolezal, T. Ekeh, J. Guioth, R. L. Jack, J. Kappler, L. Kikuchi, H. Kobayashi, Y. I. Li, J. D. Peterson, P. Pietzonka, B. Remez, P. B. Rohrbach, R. Singh, G. Turk, <strong>2020</strong>. arXiv: <a href="https://arxiv.org/abs/2005.09625">https://arxiv.org/abs/2005.09625</a>.</li>
<li value=9>&quot;Non-Markovian barrier crossing with two-time-scale memory is
 dominated by the faster memory component&quot;, J. Kappler, V. B.
 Hinrichsen, and R. R. Netz, <em>The European Physical Journal E</em>, vol.
 42 (9), p. 119, <strong>2019</strong>. DOI:
 <a href="https://dx.doi.org/10.1140/epje/i2019-11886-7">10.1140/epje/i2019-11886-7</a></li>
<li value=8>&quot;Memory-kernel extraction for different molecular solutes in
 solvents of varying viscosity in confinement&quot;, B. Kowalik, J. O.
 Daldrop, J. Kappler, J. C. F. Schulz, A. Schlaich, R. R. Netz,
 <em>Physical Review E</em>, vol. 100 (1), p. 012126, <strong>2019</strong>. DOI:
 <a href="https://dx.doi.org/10.1103/PhysRevE.100.012126">10.1103/PhysRevE.100.012126</a></li>
<li value=7>&quot;Cyclization dynamics of finite-length collapsed self-avoiding
 polymers&quot;, J. Kappler, F. Noé, and R. R. Netz, <em>Physical Review
 Letters</em>, vol. 122, p. 067801, <strong>2019</strong>. DOI:
 <a href="https://dx.doi.org/10.1103/PhysRevLett.122.067801">10.1103/PhysRevLett.122.067801</a></li>
<li value=6>&quot;Collective hydrogen-bond rearrangement dynamics in liquid
 water&quot;, R. Schulz, Y. von Hansen, J. O. Daldrop, J. Kappler, F.
 Noé, R. R. Netz, <em>The Journal of Chemical Physics</em>, vol. 149 (24), p.
 244504, <strong>2018</strong>. DOI:
 <a href="https://dx.doi.org/10.1063/1.5054267">10.1063/1.5054267</a></li>
<li value=5>&quot;Butane dihedral angle dynamics in water is dominated by internal
 friction&quot;, J. O. Daldrop, J. Kappler, F. N. Brünig, and R. R. Netz,
 <em>Proceedings of the National Academy of Sciences</em>, vol. 115 p.
 5169-5174, <strong>2018</strong>. DOI:
 <a href="https://dx.doi.org/10.1073/pnas.1722327115">10.1073/pnas.1722327115</a></li>
<li value=4>&quot;Memory-induced acceleration and slowdown of barrier crossing&quot;, J.
 Kappler, J. O. Daldrop, F. N. Brünig, M. D. Boehle, and R. R. Netz,
 <em>The Journal of Chemical Physics</em>, vol. 148, p. 014903, <strong>2018</strong>. DOI:
 <a href="https://dx.doi.org/10.1063/1.4998239">10.1063/1.4998239</a></li>
<li value=3>&quot;Nonlinear fractional waves at elastic interfaces&quot;, J. Kappler, S.
 Shrivastava, M. F. Schneider, and R. R. Netz, <em>Physical Review
 Fluids</em>, vol. 2, p. 114804, <strong>2017</strong>. DOI:
 <a href="https://dx.doi.org/10.1103/PhysRevFluids.2.114804">10.1103/PhysRevFluids.2.114804</a></li>
<li value=2>&quot;Hydration Friction in Nanoconfinement: From Bulk via Interfacial to
 Dry Friction&quot;, A. Schlaich, J. Kappler, and R. R. Netz, <em>Nano
 Letters</em>, vol. 17, pp. 5969-5976, <strong>2017</strong>. DOI:
 <a href="https://dx.doi.org/10.1021/acs.nanolett.7b02000">10.1021/acs.nanolett.7b02000</a></li>
<li value=1>&quot;Multiple surface wave solutions on linear viscoelastic media&quot;, J.
 Kappler and R. R. Netz, <em>Europhysics Letters</em>, vol. 112, p.
 19002, <strong>2015</strong>. DOI:
 <a href="https://dx.doi.org/10.1209/0295-5075/112/19002">10.1209/0295-5075/112/19002</a></li>
</ol>
